html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

header{
    width: 100%;
    height: 100vh;
    background-image: url('https://ecs7.tokopedia.net/blog-tokopedia-com/uploads/2019/12/Gunung-Anak-Krakatau.jpg');
    background-size: cover;
    background-attachment: fixed; 
}

.content {
    width: 100%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

.logo img {
    position: fixed;
    width: auto;
    height: 50px;
}

.logo {
    position: fixed;
    float: left;
    margin: 16px 36px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    background-attachment: fixed;
}

nav {
    position: fixed;
    width: 100%;   
}

nav ul {
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: white;
    padding: 0;
    text-align: right;
    transition: 1s;
}

nav.black ul {
    background: black;
    margin: 0;
}

nav ul li {
    display: inline-block;
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.judul
{
    text-align: center;
    font-size: 2rem;
    height: 30px;
    width: auto;
}

.gunung1 , .gunung2 , .gunung3 , .gunung4 {
    width: 640px;
    height: 360px;
    display: flex;
    margin: auto;
    border-radius: 30px;
    margin-top: 20px;
}

.gunung5 {
    display: flex;
    width: 100%;
    transition: 2s;
}

.gunung5 img {
    width: 100%;
}

.wrapper {
    width: 640px;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

#slide1:target ~ .gunung5 {
    margin-left: 0;
}

#slide2:target ~ .gunung5 {
    margin-left: -100%;
}

#slide3:target ~ .gunung5 {
    margin-left: -200%;
}

.navigation a {
    display: inline-block;
    height: 15px;
    width: 15px;
    background-color: #E4DEBE;
    font-size: 0;
    border-radius: 50%;
    margin: 5px;
    transition: 1s;
}

.navigation a:hover{
    background-color: #607274;
}

.navigation {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: -50px;
}

.text1, .text2 , .text3, .text4, .text5 {
    text-align: center;
}

.paragraf
{
    max-width: 1100px;
    line-height: 1.5;
    text-align: justify;
    text-indent: 20px;
    margin: 15px 0;
    display: flex;
    margin: auto;
}

 /* Membuat Transisi Gambar Gunung */
 .zoom-effect {
    transition: transform 0.4s ease; /*Efek Transisi untuk perubahan transformasi*/
}

.zoom-effect:hover {
    transform: scale(1.1); /*Skala gambar saat kursor mendekat(zoom)*/
}